<div class="modal-open animation fadeIn" *ngIf="modalService.modalCreate">
<div  class="modal" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{modalService.modalCreate }}
            <div class="container">
                <div class="row">
                    <div class="col-sm">
    
                        <ul *ngIf="user" class="list-group text-dark mb-3">
                            <li class="list-group-item active">{{user.username}}</li>
                            <li class="list-group-item">{{user.name}}</li>
                            <li class="list-group-item">{{user.email}}</li>
                        </ul>
    
                        <div class="input-group">
                            <div class="custom-file">
                              <input (change)="getPhoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                              <label class="custom-file-label" for="inputGroupFile04">Choose</label>
                            </div>
                            <div class="input-group-append">
                              <button (click)="setPhoto()" [disabled]="!selectedPhoto" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Upload</button>
                            </div>
                          </div>                    
                    </div>
                    <div class="col-sm">
                        <div class="col-sm">
                            <img *ngIf="user?.picture" src="{{urlBackend}}/api/upload/img/{{user.picture}}" alt="{{user.picture}}" class="img-thumbnail rounded">
                        </div>
                    </div>
                </div>
            </div>            

        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>



